node_modules/

android/.gradle/
android/.kotlin/
android/build/
android/app/.cxx/
android/app/build/
modules/**/android/.cxx/
modules/**/android/build/

ios/Pods/
ios/build/
ios/*.xcodeproj/
ios/*.xcworkspace/
ios/**/Images.xcassets/

coverage/
reports/
